<span class="svg-wrapper{% if extra_class != blank %} {{ extra_class }}{% endif %}">
  {% case shape_type %}
    {% when 'arrow' %}
      <svg viewBox="0 0 14 16" fill="none">
      <path d="M4.30792 15.9326C4.37208 15.9717 4.59812 16.082 4.82504 15.8917L13.8343 8.3567C13.9396 8.26842 14 8.13842 14 7.99985C14 7.86128 13.9396 7.73128 13.8343 7.643L4.82504 0.107998C4.72704 0.0259995 4.62933 0 4.54475 0C4.43333 0 4.34437 0.045142 4.30792 0.0671416C4.16646 0.152283 4.03754 0.331422 4.09908 0.578561L5.88846 7.75043C5.92929 7.91357 5.92929 8.08613 5.88846 8.24927L4.09908 15.4211C4.03754 15.6683 4.16646 15.8474 4.30792 15.9326Z" fill="currentColor"/>
      <path d="M1.75 9.7141C2.7165 9.7141 3.5 8.94661 3.5 7.99985C3.5 7.05309 2.7165 6.2856 1.75 6.2856C0.783502 6.2856 0 7.05309 0 7.99985C0 8.94661 0.783502 9.7141 1.75 9.7141Z" fill="currentColor"/>
      </svg>
    {% when 'circle' %}
      <svg viewBox="0 0 17 16" fill="none">
      <path d="M7.85812 16L8.16581 9.67033L6.05592 15.6484L4.82515 15.1648L7.55042 9.40659L3.33064 14.1538L2.36361 13.1868L7.11086 8.96703L1.35262 11.6923L0.869104 10.4615L6.84713 8.35165L0.517456 8.65934V7.34066L6.84713 7.69231L0.869104 5.53846L1.35262 4.35165L7.11086 7.07692L2.36361 2.81319L3.33064 1.89011L7.55042 6.59341L4.82515 0.87912L6.05592 0.351648L8.16581 6.37363L7.85812 0H9.1768L8.82515 6.32967L10.979 0.351648L12.1658 0.87912L9.44053 6.59341L13.7043 1.89011L14.6273 2.81319L9.92405 7.07692L15.6383 4.35165L16.1658 5.53846L10.1438 7.69231L16.5175 7.34066V8.65934L10.1438 8.35165L16.1658 10.4615L15.6383 11.6923L9.92405 8.96703L14.6273 13.1868L13.7043 14.1538L9.44053 9.40659L12.1658 15.1648L10.979 15.6484L8.82515 9.67033L9.1768 16H7.85812Z" fill="currentColor"/>
      </svg>
    {% when 'square' %}
      <svg viewBox="0 0 24 24" fill="none">
      <path d="M9.81696 14.1836V9.8184H14.1822V14.1836H9.81696Z" fill="currentColor"/>
      <path d="M6.82074 14.1836V9.8184H8.87945V14.1836H6.82074Z" fill="currentColor"/>
      <path d="M15.1198 14.1836V9.8184H17.1785V14.1836H15.1198Z" fill="currentColor"/>
      <path d="M9.81738 8.88086V6.82215H14.1826V8.88086H9.81738Z" fill="currentColor"/>
      <path d="M9.81653 17.1797V15.121H14.1817V17.1797H9.81653Z" fill="currentColor"/>
      <path d="M17.4588 15.3812C18.1679 16.0904 17.8168 17.3245 17.7746 17.463C17.7288 17.6117 17.6122 17.7284 17.4635 17.7742C17.3249 17.8164 16.0908 18.1675 15.3817 17.4584C15.2886 17.3654 15.2142 17.2666 15.1569 17.1797L15.1572 15.1567L17.1802 15.1565C17.267 15.2137 17.3658 15.2882 17.4588 15.3812Z" fill="currentColor"/>
      <path d="M17.7746 6.53697C17.8168 6.67552 18.1679 7.90965 17.4588 8.61875C17.3658 8.71178 17.267 8.78625 17.1802 8.84348L15.1572 8.84326L15.1569 6.82025C15.2142 6.73341 15.2886 6.63464 15.3817 6.54161C16.0908 5.8325 17.3249 6.18363 17.4635 6.22584C17.6122 6.27155 17.7288 6.38825 17.7746 6.53697Z" fill="currentColor"/>
      <path d="M8.84441 15.1572L8.84463 17.1802C8.7874 17.2671 8.71293 17.3659 8.6199 17.4589C7.9108 18.168 6.67666 17.8169 6.53811 17.7747C6.3894 17.7289 6.27272 17.6122 6.22698 17.4635C6.18478 17.325 5.83365 16.0908 6.54275 15.3817C6.63578 15.2887 6.73456 15.2142 6.8214 15.157L8.84441 15.1572Z" fill="currentColor"/>
      <path d="M8.84463 6.81975L8.84463 8.84298L6.8214 8.84298C6.73456 8.78575 6.63578 8.71128 6.54275 8.61825C5.83365 7.90915 6.18478 6.67502 6.22698 6.53647C6.27272 6.38775 6.3894 6.27108 6.53811 6.22534C6.67666 6.18313 7.9108 5.832 8.6199 6.54111C8.71293 6.63414 8.78737 6.73289 8.84463 6.81975Z" fill="currentColor"/>
      </svg>
    {% when 'diamond' %}
      <svg viewBox="0 0 24 24" fill="currentColor">
        <path d="M11.375 24C11.1458 22.6458 10.5417 21.1875 9.5625 19.625C8.58333 18.0417 7.1875 16.5729 5.375 15.2188C3.58333 13.8646 1.79167 13 0 12.625V11.3125C1.77083 10.8958 3.46875 10.125 5.09375 9C6.73958 7.85417 8.11458 6.47917 9.21875 4.875C10.3437 3.22917 11.0625 1.60417 11.375 0H12.6875C12.875 1.04167 13.25 2.11458 13.8125 3.21875C14.375 4.30208 15.0937 5.34375 15.9687 6.34375C16.8646 7.32292 17.8646 8.20833 18.9688 9C20.6146 10.1667 22.2917 10.9375 24 11.3125V12.625C22.8542 12.8542 21.6667 13.3229 20.4375 14.0313C19.2292 14.7396 18.1042 15.5833 17.0625 16.5625C16.0208 17.5208 15.1667 18.5313 14.5 19.5938C13.5208 21.1563 12.9167 22.625 12.6875 24H11.375Z" fill="currentColor"/>
      </svg>
  {% endcase %}
</span>
