{{ 'main-password-footer.css' | asset_url | stylesheet_tag }}
<div class="password-footer-wrapper color-scheme {{ section.settings.color_scheme }}">
  <div class="footer-text text-center">
    <p class="footer-logged-in text-small">
      {{ 'general.password_page.admin_link_html' | t }}
    </p>
    {% capture shopify %}
      <a
        class="password-footer-shopify-logo"
        href="//www.shopify.com"
        rel="nofollow"
        target="_blank"
        aria-describedby="a11y-new-window-message"
        aria-label="Shopify"
      >
        {% render 'svg-icons', icon_type: 'icon-shopify' %}
      </a>
    {% endcapture %}
    <p class="footer-powerd-by text">
      {{- 'general.password_page.powered_by_shopify_html' | t: shopify: shopify -}}
    </p>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-password-footer.name",
  "class": "password-footer",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.general"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "t:sections.all.settings.colors.label"
    }
  ]
}
{% endschema %}
