 .header-main-wrapper,
 .header-main.header-transparent {
   transition: .4s padding;
 }

 .header-main {
   background: var(--headerBackground);
   position: relative;
   z-index: 3;
   color: var(--headerTextColor);
 }

 .header-main:not(.header-transparent) {
   box-shadow: 0 .125rem .0625rem #0000000d, 0 0 .0625rem #42474c4a;
 }

 /* .scrolled-header header.header-main {
   box-shadow: 0 .125rem .0625rem #0000000d, 0 0 .0625rem #42474c4a;
 } */
 .header-rounded {
   border-radius: var(--sectionRadius);
 }

 .has-header-overlay .header-main-wrapper>.page-overlay {
   opacity: var(--overlayOpacity);
   visibility: visible;
   pointer-events: auto;
 }

 /* HAMBURGER BUTTON */

 .header-hamburger {
   grid-area: hamburger;
 }

 .hamburger-button {
   width: 24px;
   height: 24px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5px;
   color: inherit;
   --svgSize: 24px;
 }

 .hamburger-button svg {
   transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
   stroke: none;
 }

 .hamburger-button svg .line {
   fill: none;
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke-width: 1.5px;
   transition: stroke-dasharray .6s cubic-bezier(.4, 0, .2, 1), stroke-dashoffset .6s cubic-bezier(.4, 0, .2, 1);
 }

 .hamburger-button svg .line-top-bottom {
   stroke-dasharray: 12 63;
 }

 /* HEADER WRAPPER */

 .header-wrapper {
   display: grid;
   align-items: center;
   column-gap: 20px;
   min-height: 50px;
 }

 .header-wrapper:not([class*='container-']) {
   padding-inline: 15px;
 }

 /* LOGO */

 .header-logo-main {
   grid-area: logo;
   display: flex;
   justify-content: center;
   position: relative;
   padding-block: 4px;
   max-width: max-content;
 }

 .header-logo {
   max-width: var(--logoSize);
   position: relative;
   display: flex;
 }

 .store-name {
   max-width: 250px;
 }

 .header-logo-img {
   width: var(--logoSize);
   max-width: 100%;
   height: auto;
   transition: opacity .2s ease-in-out;
 }

 .header-logo-alternate {
   opacity: 0;
   pointer-events: none;
   position: absolute;
   inset-block-start: 0;
   inset-inline-start: 0;
 }

 [color-mode='dark'] .header-logo-alternate {
   opacity: 1;
 }

 /* NAVIGATION */

 .header-navigation-main {
   display: none;
 }

 .header-navigation-list {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
 }

 .header-menu-item.has-children {
   position: relative;
 }

 .header-menu-item.has-children.header-mega-menu {
   position: static;
 }

 .header-menu-link {
   display: inline-flex;
   align-items: center;
   position: relative;
   /* color: var(--headerTextColor); */
   cursor: pointer;
 }

 .header-wrapper:not(:has(.header-hamburger-wrapper)) .header-menu-item>.header-menu-link {
   margin: 0 33px;
   padding-block: 20px;
 }

 .header-wrapper:not(:has(.header-hamburger-wrapper)) .header-menu-item:first-child>.header-menu-link {
   margin-left: 0;
 }

 .header-wrapper:not(:has(.header-hamburger-wrapper)) .header-menu-item:last-child>.header-menu-link {
   margin-right: 0;
 }

 .header-wrapper:not(:has(.header-hamburger-wrapper)) .header-navigation-list>.header-menu-item:not(:first-child)>.header-menu-link:before {
   content: "";
   background: color-mix(in srgb, var(--headerTextColor) 20%, transparent);
   width: 36px;
   height: 1px;
   position: absolute;
   right: calc(100% + 15px);
   transition: 0.4s ease-out;
   pointer-events: none;
 }

 .header-navigation-list .header-menu-item .header-menu-link:hover {
   color: var(--headerTextHover);
 }

 /* ================================
   HEADER SEARCH
   ================================ */

 .header-search {
   padding-block: 18px;
   width: 100%;
   max-width: 900px;
   margin: 0 auto;
 }

 .header-search form {
   position: relative;
 }

 .header-search-container {
   display: grid;
   grid-template-columns: auto 1fr;
   background: var(--searchFormBackground);
   border-radius: var(--formRadius);
   border: 1px solid var(--searchFormBorder);
 }

 .header-search-container .form-control {
   color: var(--searchFormColor);
 }

 .header-search-form {
   width: 100%;
 }

 .search-categories-menu {
   position: relative;
 }

 .search-categories-menu:after {
   content: "";
   position: absolute;
   background: var(--searchFormBorder);
   width: 1px;
   height: calc(100% - 2rem);
   top: 50%;
   transform: translateY(-50%);
 }

 .search-categories-button {
   display: inline-flex;
   align-items: center;
   gap: 10px;
   font-size: var(--text);
   color: var(--searchFormColor);
   padding: 10px 20px;
   height: 100%;
   width: 170px;
   --svgSize: 12px;
   cursor: pointer;
 }

 .search-categories-button .svg-wrapper {
   min-width: var(--svgSize);
 }

 .search-categories-button-label {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
 }


 .search-categories-dropdown {
   position: absolute;
   z-index: 1;
   background: var(--submenuBackground);
   width: 250px;
   clip-path: inset(0 0 100% 0);
   transition: var(--animation-fast);
   border-radius: var(--blockRadiusSmall);
   top: calc(100% + 1px);
   left: 0;
   box-shadow: 0 1px 7px #00000017;
   padding: 15px 20px;
   max-height: 350px;
   overflow-x: hidden;
   overflow-y: auto;
   visibility: hidden;
 }

 .search-categories-menu.open .search-categories-dropdown {
   clip-path: inset(-30%);
   visibility: visible;
 }

 .search-categories-dropdown .search-categories-dropdown-link {
   display: block;
   width: 100%;
   padding: 6px 10px;
   border-radius: 3px;
   color: var(--submenuTextColor);
   text-align: left;
 }

 .header-search-form-input-wrapper {
   position: relative;
 }

 .header-search-form-input-wrapper input {
   border-radius: 0;
   border: 0;
   background: transparent;
   padding-inline-end: 50px;
 }

 /* .header-search-form-input-wrapper input {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   padding-inline-end: 50px;
 } */

 .search-open .header-search .page-overlay {
   opacity: var(--overlayOpacity);
   visibility: visible;
   pointer-events: auto;
 }


 /* ================================
   HEADER ICONS
   ================================ */

 .header-right {
   grid-area: icons;
   height: 100%;
   position: relative;
   display: flex;
   align-items: center;
 }

 .header-icons {
   display: flex;
   align-items: center;
   gap: 20px;
 }

 .header-icons.has-seperator {
   gap: 0;
 }

 .header-icons-with-text .header-icon-link.has-label {
   gap: 10px;
   white-space: normal;
 }

 .header-icon-link {
   min-width: 24px;
   min-height: 24px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   /* color: var(--headerTextColor); */
   cursor: pointer;
   white-space: nowrap;
   --svgSize: 18px;
   position: relative;
 }

 .header-icon-link:hover {
   color: var(--headerTextHover);
 }

 .header-icons.has-seperator .header-icon-link {
   border-right: 1px solid var(--headerBorderColor);
   padding-inline: 20px;
 }

 .header-icons.has-seperator .header-icon-link:last-child {
   padding-inline-end: 0;
   border-right: 0;
 }

 .header-icons.has-seperator .header-icon-link:last-child {
   padding-inline-end: 0;
 }

 .header-icons-with-text .header-icon-item {
   width: auto;
   height: auto;
   display: flex;
   align-items: center;
 }

 .header-icons-with-text .header-icon-item.promotion .header-icon-link {
   gap: 12px;
 }

 .header-icons-with-text .header-icon-item+.header-icon-item {
   padding-left: 20px;
   margin-left: 20px;
   border-left: 1px solid var(--headerBorderColor);
 }

 .header-cart-count {
   min-width: 18px;
   min-height: 18px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   inset-block-start: -8px;
   inset-inline-end: -8px;
   background: var(--bubbleBackground);
   color: var(--bubbleText);
   border-radius: 100%;
   font-size: 10px;
 }

 .header-icons.header-icons-with-text .header-icon-link {
   gap: 10px;
 }

 /* ================================
   STICKY + TRANSPARENT HEADER
   ================================ */

 .header-main[is=sticky-header] {
   transition: 0.5s cubic-bezier(0.6, 0, 0.4, 1);
   transition-property: opacity, transform, padding;
 }

 .header-sticky {
   position: sticky;
   top: 0;
   z-index: 2;
   transition: 0.5s cubic-bezier(0.6, 0, 0.4, 1);
 }

 .header-main:before {
   content: "";
   z-index: 0;
   position: absolute;
   inset: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   background-color: var(--headerBackground);
   border-radius: var(--sectionRadius);
   opacity: 0;
   transition: opacity 0.5s cubic-bezier(0.6, 0, 0.4, 1) 0.3s;
 }

 .scrolled-header .header-main:before {
   opacity: 1;
 }


 body.header-pinned .scrolled-header {
   top: calc(var(--headerHeight, 0px) * -1);
 }

 .header-main-wrapper:has(.header-transparent) [class*="container"] {
   position: relative;
 }

 body:has(.shopify-section:first-child [allow-header-transparent]) .header-transparent {
   position: absolute;
   left: 0;
   right: 0;
   width: 100%;
   z-index: 2;
   background: transparent;
   margin-top: var(--headerMargin);
 }

 body:not(:has(.scrolled-header)) .header-transparent {
   color: var(--transparentTextColor);
 }

 body:not(:has(.scrolled-header)) .header-transparent .localization-toggler:hover {
   color: var(--headerTextHover);
 }

 body:not(:has(.scrolled-header)) .header-transparent .hamburger-button {
   stroke: var(--transparentTextColor);
 }

 .section-header:has(.header-transparent)+.announcement-bar-section {
   position: absolute;
   z-index: 1;
   width: 100%;
   top: var(--headerHeight, 0);
 }

 .section-header:not(.scrolled-header) .header-transparent .header-menu-item:hover>.header-menu-link {
   color: var(--headerTextHover);
 }

 body:has(.shopify-section:first-child [allow-header-transparent]) .section-header:not(.scrolled-header) .header-transparent .header-logo-img {
   opacity: 0;
   transition-delay: 0.5s;
 }

 body:has(.shopify-section:first-child [allow-header-transparent]) .section-header:not(.scrolled-header) .header-transparent .header-logo-alternate {
   opacity: 1;
   transition-delay: 0.5s;
 }

 html.js .no-js-menu {
   display: none;
 }

 .no-js-menu ul li {
   display: inline-block;
 }

 .no-js-menu ul li .nav-link {
   padding: 5px 10px;
 }

 .no-js .header-navigation-main {
   display: none;
 }

 /* html[color-mode="light"] .hamburger-header-logo-img:not(.hamburger-header-alternatelogo-img) ,
 html[color-mode="dark"] .hamburger-header-alternatelogo-img:not(.hamburger-header-logo-img) {
   display: block;
 }

 .hamburger-header-logo-img:not(.hamburger-header-alternatelogo-img),
html[color-mode="light"] .hamburger-header-logo-img.hamburger-header-alternatelogo-img {
    display: none;
} */

 html {
   --logo-display: block;
   --alt-logo-display: none;
 }

 html[color-mode="dark"] {
   --logo-display: none;
   --alt-logo-display: block;
 }

 .hamburger-header-logo {
   display: block;
   max-width: var(--hamburgerLogoSize);
 }

 .hamburger-header-logo-img {
   display: var(--logo-display);
   width: var(--hamburgerLogoSize);
   max-width: 100%;
 }

 .hamburger-header-alternatelogo-img {
   display: var(--alt-logo-display);
 }

 @media (max-width: 1199px) {
   .search-categories-button {
     width: 100px;
   }

   .header-icons.has-seperator .header-icon-link {
     padding-inline: 15px;
   }
 }


 @media (max-width: 1024px) {


   .header-icons-with-text .header-icon-link.has-label {
     display: none;
   }

   .header-wrapper {
     padding-block: 10px;
     grid-template-columns: auto auto 1fr;
     grid-template-areas:
       "hamburger logo icons"
       "header-search header-search header-search";
   }

   .header-wrapper.hamburger-with-search-bar {
     row-gap: 10px;
   }

   .header-right {
     justify-content: flex-end;
   }

   .header-search {
     grid-area: header-search;
     padding-block: 0;
     max-width: 100%;
   }

   .search-categories-button {
     width: 170px;
   }

   .header-icons .localization {
     display: none;
   }

   .header-main-wrapper:has(.header-transparent) [class*=container] .header-main {
     max-width: calc(100% - 40px);
     margin: 0 auto;
   }
 }

 @media (max-width: 767px) {
   .header-search-form-input-wrapper input {
     padding-inline-end: 35px;
   }

   .search-categories-button {
     width: 80px;
     padding: 8px;
   }

   .header-icons.has-seperator .header-icon-link {
     padding-inline: 10px;
   }

   .header-icons {
     gap: 10px;
   }

   .header-main-wrapper:has(.header-transparent) [class*=container] .header-main {
     max-width: calc(100% - 30px);
   }
 }

 @media (min-width: 1025px) {

   .header-wrapper.logo-left-menu-center,
   .header-wrapper.logo-left-menu-left {
     grid-template-columns: auto 1fr auto;
     grid-template-areas: "logo navigation icons";
   }

   .header-wrapper.hamburger-menu-logo-center {
     grid-template-columns: 1fr auto;
     grid-template-areas: "hamburger logo icons";
   }

   .header-wrapper.hamburger-menu-logo-center .header-logo {
     margin: 0 auto;
   }

   .header-wrapper.logo-left-menu-left .header-navigation-list {
     justify-content: flex-start;
   }

   .header-wrapper.logo-center-menu-left {
     grid-template-columns: 1fr auto 1fr;
     grid-template-areas: "navigation logo icons";
   }

   .header-wrapper.logo-center-menu-left .header-navigation-list {
     justify-content: flex-start;
   }

   .header-wrapper.logo-center-menu-left .header-right {
     justify-content: flex-end;
   }

   .header-wrapper.hamburger-menu-logo-left {
     grid-template-columns: auto auto 1fr;
     grid-template-areas: "hamburger logo icons";
   }

   .header-wrapper.hamburger-menu-logo-left .header-right {
     justify-content: flex-end;
   }

   .header-wrapper.hamburger-with-search-bar {
     grid-template-columns: auto auto 1fr auto;
     grid-template-areas: "hamburger logo header-search icons";
   }

   /* .desktop-transparent .header-logo .header-logo-img {
    filter: brightness(0) invert(1);
  } */

   .header-navigation-main {
     grid-area: navigation;
     display: block;
   }

   .header-navigation-wrapper {
     height: 100%;
   }

   .header-wrapper:not(:has(.header-hamburger-wrapper)) .header-navigation-list>.header-menu-item:not(:first-child)>.header-menu-link:hover:before {
     width: 16px;
     right: calc(100% + 5px);
     background: color-mix(in srgb, var(--headerTextHover) 100%, transparent);
   }

   .mega-menu-wrapper,
   .dropdown-wrapper {
     position: absolute;
     z-index: 1;
     pointer-events: none;
   }

   .mega-menu-wrapper {
     right: 0;
     left: 0;
     margin: 0 auto;
     padding-inline: 15px;
     overflow: hidden;
   }

   .mega-menu-container {
     background-color: var(--submenuBackground);
     color: var(--submenuTextColor);
     transition: all 0.3s ease;
     /* border-radius: 0 0 var(--blockRadiusSmall) var(--blockRadiusSmall); */
     border-radius: var(--blockRadiusSmall);
     padding: 30px;
     visibility: hidden;
     transform: translateY(-150%);
     overflow-y: auto;
     max-height: 70vh;
   }

   .dropdown-wrapper {
     max-width: max-content;
     min-width: 250px;
     opacity: 0;
     visibility: hidden;
     transition: all 0.3s ease;
   }

   .header-menu-item.menu-position-left>.dropdown-wrapper {
     right: 0;
   }

   .header-dropdown.menu-position-left>.dropdown-wrapper.nav-dropdown {
     right: 0;
   }

   .dropdown-contain {
     background-color: var(--submenuBackground);
     color: var(--submenuTextColor);
     padding: 8px 0;
     transition: all 0.4s ease;
     text-align: left;
     box-shadow: 0 0 2px #00000045;
     border-radius: calc(var(--blockRadius) / 2);
     visibility: hidden;
     transform: translateY(30px);
   }

   .dropdown-menu-item {
     position: relative;
     padding-inline: 20px;
     --svgSize: 12px;
   }

   .dropdown-menu-nav .header-menu-link {
     padding-block: 5px;
     margin: 0;
     position: relative;
     color: var(--submenuTextColor);
     justify-content: space-between;
     width: 100%;
   }

   .dropdown-menu-nav .header-menu-link:before {
     background: var(--submenuTextHover);
   }

   .header-dropdown .dropdown-wrapper li .dropdown-wrapper,
   .site-dropdown-menu .dropdown-wrapper li .dropdown-wrapper {
     left: 100%;
     top: 0;
     opacity: 0;
     visibility: hidden;
   }

   .header-dropdown.menu-position-left .dropdown-menu-nav .dropdown-wrapper {
     left: auto;
     right: 100%;
   }

   .dropdown-wrapper.nav-dropdown .dropdown-wrapper {
     padding: 0;
   }

   .dropdown-menu-nav .dropdown-wrapper {
     min-width: 0;
     max-width: 0;
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     transition:
       max-width 0.3s ease-in-out,
       min-width 0.3s ease-in-out,
       opacity 0.3s ease-in-out,
       visibility 0.3s ease-in-out;
   }

   .dropdown-menu-nav .dropdown-wrapper .header-menu-link {
     opacity: 1;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
   }

   .dropdown-menu-nav li.open .dropdown-wrapper,
   .dropdown-wrapper li.open .dropdown-wrapper,
   .header-menu-item.open>.dropdown-wrapper {
     visibility: visible;
     pointer-events: auto;
     opacity: 1;
   }

   .dropdown-menu-nav li.open .dropdown-wrapper {
     max-width: 250px;
     min-width: 250px;
   }

   .header-menu-item:is(.open) :is(.mega-menu-container, .dropdown-contain) {
     visibility: visible;
     transform: translateY(0);
     transition: transform 0.3s ease;
   }

   .header-main.header-rounded:has(.header-mega-menu.open) {
     border-radius: var(--sectionRadius) var(--sectionRadius) 0 0;
   }

   .header-menu-item:is(.open) .mega-menu-wrapper {
     pointer-events: auto;
     background: var(--headerBackground);
     padding-block-end: 15px;
     border-radius: 0 0 var(--sectionRadius) var(--sectionRadius);
   }

   .has-dropdown-menu .header-main:before {
     opacity: 1;border-radius: var(--sectionRadius) var(--sectionRadius) 0 0;
   }

   .mega-menu-collection-list li a {
     display: flex;
     align-items: center;
     padding: 10px 0;
     position: relative;
   }

   .mega-menu-items {
     display: grid;
     grid-template-columns: repeat(var(--columnCount, 5), 1fr);
     gap: 30px 20px;
     align-items: flex-start;
   }

   .mega-menu-item {
     display: grid;
     row-gap: 15px;
   }

   .mega-menu-item-wrapper:has(.mega-menu-item-inner) .mega-menu-link-main {
     display: block;
     margin-bottom: 5px;
   }

   .mega-menu-item-inner .mega-menu-link {
     display: inline-block;
     position: relative;
     padding-block: 4px;
     color: var(--submenuTextColor);
   }

   .mega-menu-item-inner .mega-menu-link:before {
     background: var(--submenuTextHover);
   }

   .mega-menu-item-inner .mega-menu-link:hover {
     color: var(--submenuTextHover);
   }

   .masonry-submenu-link:hover {
     color: var(--submenuTextHover);
   }

   .masonry-submenu-link.link-animation:before {
     background: var(--submenuTextHover);
   }

   .mega-menu-contain .header-promotion-banner-wrapper {
     display: flex;
     gap: 20px;
   }

   .header-promotion-banner-item {
     border-radius: var(--blockRadiusSmall);
     overflow: hidden;
     position: relative;
   }

   .header-promotion-banner-content-wrapper {
     position: absolute;
     bottom: 0;
     width: 100%;
     /* height: 100%; */
     padding: 20px;
     max-height: 100%;
     overflow-y: auto;
   }

   .header-promotion-banner-desc {
     padding-top: 6px;
   }

   .header-promotion-banner-btn {
     --svgSize: 16px;
     position: absolute;
     top: 20px;
     right: 20px;
     transform: rotate(-45deg);
   }

   .header-navigation-list .header-menu-item .header-menu-link:hover {
     color: var(--headerTextHover);
   }

   .header-navigation-list .header-menu-item .dropdown-menu-item .header-menu-link:hover {
     color: var(--submenuTextHover);
   }

   .header-icon-link:hover {
     color: var(--headerTextHover);
   }

   .mega-menu-tab-wrapper {
     overflow: hidden;
   }

   .mega-menu-tabs {
     display: flex;
     white-space: nowrap;
     align-items: center;
     background: color-mix(in srgb, var(--submenuTextColor) 10%, transparent);
     padding: 4px;
     border-radius: calc(var(--blockRadiusSmall) / 2);
     margin-bottom: 32px;
     gap: 4px;
     overflow: auto;
     scroll-snap-type: x mandatory;
     max-width: max-content;
   }

   .mega-menu-tab-item {
     line-height: normal;
   }

   .mega-menu-tab-item-link {
     display: inline-block;
     padding: 10px 25px;
     border-radius: calc(var(--blockRadiusSmall) / 2);
     cursor: pointer;
     color: var(--submenuTextColor);
   }

   .mega-menu-tab-item-link:is(:hover, .active) {
     background: var(--submenuBackground);
     color: var(--submenuTextHover);
   }

   .mega-menu-contain:has(.mega-menu-tab-wrapper) {
     grid-template-columns: 1fr 350px;
   }

   .mega-menu-tab-blocks {
     display: grid;
   }

   .mega-menu-tab-block {
     grid-column-start: 1;
     grid-row-start: 1;
     opacity: 0;
     visibility: hidden;
     transform: translateY(20px);
     transition: transform 0.4s ease-out;
     display: none;
   }

   .mega-menu-tab-block.active {
     opacity: 1;
     visibility: visible;
     transform: translateY(0);
     display: block;
   }

   .mega-menu-contain:has(.mega-menu-promo) .mega-menu-items {
     grid-template-columns: repeat(var(--columnCount, 3), 1fr);
   }

   .mega-menu-contain:has(.mega-menu-promo) {
     display: grid;
     align-items: flex-start;
     grid-template-columns: 1fr auto;
     column-gap: 30px;
   }

   .mega-menu-promo {
     display: grid;
     grid-template-columns: 200px 200px;
     column-gap: 20px;
   }

   .mega-menu-promo:has(.header-promotion-banner-item:only-child) {
     grid-template-columns: 300px;
   }

   .mega-menu-sidebar-wrapper {
     display: grid;
     grid-template-columns: 280px 1fr;
     column-gap: 70px;
   }

   /* .mega-menu-sidebar {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     row-gap: 30px;
   } */
   .mega-menu-sidebar {
     display: grid;
     grid-template-rows: auto 1fr auto;
     row-gap: 20px;
   }

   .mega-menu-sidebar .mega-menu-collections-heading {
     letter-spacing: 3px;
   }

   .mega-menu-sidebar-link:is(.active, :hover) {
     color: var(--submenuTextHover);
     background-size: 100% 100%;
     background-position-x: 0;
   }

   .mega-menu-sidebar-content {
     min-width: 0;
   }

   .mega-menu-sidebar-content-inner {
     display: none;
     grid-template-columns: repeat(2, 1fr);
     gap: 20px;
     position: sticky;
     top: 0;
   }

   .mega-menu-sidebar-content-inner.active {
     display: grid;
   }

   .mega-menu-sidebar ul li+li {
     margin-top: 12px;
   }

   .mega-menu-sidebar-link {
     cursor: pointer;
     background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px);
     background-size: 0 100%;
     transition: .35s background-size cubic-bezier(.215, .61, .355, 1);
     background-position-x: 100%;
     background-repeat: no-repeat;
   }

   .masonry-wrapper .dropdown-contain {
     padding: 5px;
     max-height: 60vh;
     border-radius: var(--blockRadiusSmall);
     overflow: hidden;
     overflow-y: auto;
   }

   .masonry-menu-nav {
     column-count: var(--columnCount);
     column-gap: 0;
     break-inside: avoid;
   }

   .masonry-menu-item-inner {
     /* background: color-mix(in srgb, var(--submenuTextColor) 10%, transparent); */
     border-radius: var(--blockRadiusSmall);
     overflow: hidden;
     padding: 10px;
   }

   .masonry-submenu {
     padding-top: 5px;
   }

   .masonry-menu-item {
     padding: 3px;
     min-width: 220px;
   }

   .search-categories-dropdown .search-categories-dropdown-link:hover {
     background: color-mix(in srgb, var(--submenuTextColor) 10%, transparent);
     color: var(--submenuTextHover);
   }

   .header-icons .localization-toggler:hover {
     color: var(--headerTextHover);
   }

   body:not(:has(.scrolled-header)) .header-transparent .localization-toggler {
     color: var(--transparentTextColor);
   }
 }

 @media (min-width: 1200px) {
   .mega-menu-contain:has(.mega-menu-promo) .mega-menu-items {
     grid-template-columns: repeat(var(--columnCount, 4), 1fr);
   }

   .mega-menu-promo {
     grid-template-columns: 250px 250px;
   }

   .mega-menu-promo:has(.header-promotion-banner-item:only-child) {
     grid-template-columns: 350px;
   }

   .mega-menu-sidebar-content-inner {
     grid-template-columns: repeat(3, 1fr);
   }

   .header-wrapper:not([class*='container']) {
     padding-inline: 30px;
   }
 }

 @media (min-width: 1441px) {
   .mega-menu-contain:has(.mega-menu-promo) .mega-menu-items {
     grid-template-columns: repeat(var(--columnCount, 5), 1fr);
   }

   .mega-menu-promo {
     grid-template-columns: 350px 350px;
   }

   .mega-menu-sidebar-content-inner {
     grid-template-columns: repeat(4, 1fr);
   }
 }