  .main-password-header {
    padding-block: 25px;
    border-bottom: 1px solid var(--borderColor);
  }
  .password-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .password-header-logo {
    position: relative;
    display: inline-flex;
    width: var(--logoSize);
  }